body {
  background: #eaeaea !important;
}

.App {
  text-align: center;
}

.main {
  width: 90%;
}

.category {
  background: aqua !important;
}

#rating {
  width: 12%;
}

.table-buttons {
  height: 75px;

}
